@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    --primary-color: #E35F26;
    --primary-color-light:#fffcfa;
    --primary-color-dark:#FA4B00;
    --text-dark:#332D2B;
    --text-ligth:#6b7280;
    --white:#fff;
    --max-width:1200px
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: "Concert One", sans-serif;

}
.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}
.logo a span{
    color: var(--text-dark);
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s linear;
}
ul{
    list-style: none;
}
/*Navegação*/
nav{
    position: fixed;
    isolation: 1rem;
    width: 100%;
    z-index: 9;
}
.nav__header{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color); 
}
.nav__logo a{
    display: flex;
    color: var(--white);
}
.nav__menu__btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav__links{
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color:var(--primary-color-light);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav__links.open{
    transform: translateY(0);
}
.nav__links a  {
    font-weight: 500;
    color: var(--primary-color);/* troca de foco nao funcionando a no links */
}
.nav__links a:hover {
    color: var(--text-dark);
}
.nav__btn { 
    display: none;
}
/*navegação responsiva*/
@media(width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .nav__header{
      flex: 1;
      padding: 0;
      background-color: transparent;
    
    }
    .nav__logo a{
        color: var(--primary-color);
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav__links a {
        color: var(--text-dark);
    }
    .nav__links a:hover{
        color: var(--primary-color);
    }
    .nav__btn {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    .nav__btn .btn {
        padding: 8px 10px;
        font-size: 1.5rem;
        border-radius: 100%;
    }
}

/*====HEADER======*/
.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section__description{
    color: var(--text-ligth);
    line-height: 1.5rem;
    text-align: center;
}
.btn{
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color-dark);
}

.header__container{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}
.header__image img {
    max-width: 600px;
    margin-inline: auto;
}
.header__content h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}
.header__content h1 span{
    color: var(--primary-color);

}
.header__container .section__description{
    margin-bottom: 2rem;
}
.header__btn{
    text-align: center;
}
/*Header Responsividade*/
@media (width > 768px){
    .header__container{
        grid-template-columns: 2fr 3fr ;
        text-align: center;
    }
    .header__content h1,.header__content .section__description,.header__btn{
        text-align: left;
    }
    .header__image{
        grid-area: 1/2/2/3;
    }
}

/*Special Dishes*/
.section__header{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    color: var(--text-dark);
}
.special__container :is(.section__header,.section__description){
    max-width: 600px;
    margin-inline:auto;
}
.special__grid{
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}
.special__card{
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    transition: 0.3s linear;
}
.special__card:hover{
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
.special__card img{
    max-width: 200px;
    width: 100%;
    margin-inline:auto;
    margin-bottom: 1rem;
    filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.3));    
}
.special__card h4{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
}
.special__card p {
    margin-bottom: 1.5rem;
    color: var(--text-ligth);
    line-height: 1.75rem;
}
.special__ratings{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: goldenrod;
}
.special__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.special__footer.price{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}


@media(width > 540px){
    .special__grid{
       grid-template-columns: repeat(2,1fr); 
    }
}
@media(width > 768px){
    .special__grid{
       grid-template-columns: repeat(3,1fr); 
    }
}

/*Explore section*/
.explore__container{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}
.explore__image img{
    max-width: 400px;
    margin-inline: auto;
    filter: drop-shadow(0 0 50px rgba(252,127,9 ,0.4));
}
.explore__content .section__description{
    margin-bottom: 2rem;
}
.explore__btn{
    text-align: center;
}
@media(width > 768px){
    .explore__container{
        grid-template-columns: 2fr 1fr;
        align-items: center;
        
    }
    .explore__content .section__header{
        max-width: 500px;
    }
    .explore__content :is(.section__header,.section__description),.explore__btn{
        text-align: left;
    }
}
/*Banner*/
.banner__container{
    display: grid;
    gap: 1rem;
    
}
.banner__card{
    padding: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    transition: 0.3s;

}
.banner__card:hover{
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.banner__card .banner__icon{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 1rem;
}
.banner__card:nth-child(1) .banner__icon{
    background-color: #62b15c;
    box-shadow: 5px 5px 30px #62b15c;
}
.banner__card:nth-child(2) .banner__icon{
    background-color: #ff3e67;
    box-shadow: 5px 5px 30px #ff3e67;
}
.banner__card:nth-child(3) .banner__icon{
    background-color: #185adb;
    box-shadow: 5px 5px 30px #185adb;
}

